.container1[data-v-77732afa] {
  font-size: 16px !important;
}
.container1 .container[data-v-77732afa] {
  position: relative;
  min-height: 100vh;
  background-color: rgba(234, 233, 233, 0.52);
  font-family: PingFangSC-Regular;
  font-size: 16px !important;
}
.container1 .container #load[data-v-77732afa] {
  position: absolute;
  top: 40%;
  left: 45%;
}
.container1 .container .header[data-v-77732afa] {
  padding: 0 20px;
  display: flex;
  color: #fff;
  background-image: url(./src/banner-bg1.1b63d234.png);
  background-size: 100% 100%;
  height: 107px;
  padding-top: 20px;
}
.container1 .container .header .thumb[data-v-77732afa] {
  margin-top: 10px;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 15px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  position: relative;
}
.container1 .container .header .thumb img[data-v-77732afa] {
  position: absolute;
  width: 50%;
  height: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.container1 .container .header .content .person-info[data-v-77732afa] {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.container1 .container .header .content .person-info span[data-v-77732afa] {
  margin-right: 17px;
}
.container1 .container .header .content .list[data-v-77732afa] {
  font-size: 15px;
}
.container1 .container .header .content .list span[data-v-77732afa] {
  margin-right: 10px;
  margin-bottom: 3px;
}
.container1 .container .header .content #nomore[data-v-77732afa] {
  height: 19px;
  display: inline-block;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
}
.container1 .container .list-container .list-container-item[data-v-77732afa] {
  position: relative;
  padding: 10px 0 10px 20px;
  margin-top: 15px;
  background-color: #fff;
}
.container1
  .container
  .list-container
  .list-container-item
  .bg[data-v-77732afa] {
  z-index: 10;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: rotate(-345deg);
  font-family: SourceHanSansCN-Bold;
  font-size: 22px;
  color: #e6e9ec;
  letter-spacing: 0;
  text-align: center;
}
.container1
  .container
  .list-container
  .list-container-item
  div[data-v-77732afa] {
  z-index: 100;
  position: relative;
}
.container1
  .container
  .list-container
  .list-container-item
  div
  span[data-v-77732afa]:first-child {
  width: 80px;
  color: #898989;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
}
.container1
  .container
  .list-container
  .list-container-item
  div
  span[data-v-77732afa]:last-child {
  color: #494949;
  font-size: 17px;
}
.container1 .container .list-container .list-container-item1[data-v-77732afa] {
  position: relative;
  padding: 10px 0 10px 20px;
  margin-top: 15px;
  background-color: #ecfff3;
  border-top: 1px solid #159000;
  border-bottom: 1px solid #159000;
}
.container1
  .container
  .list-container
  .list-container-item1
  .bg[data-v-77732afa] {
  z-index: 10;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: rotate(-345deg);
  font-family: SourceHanSansCN-Bold;
  font-size: 22px;
  color: #e6e9ec;
  letter-spacing: 0;
  text-align: center;
}
.container1
  .container
  .list-container
  .list-container-item1
  #hours[data-v-77732afa] {
  z-index: 70;
  position: absolute;
  right: 10px;
  top: 10px;
}
.container1
  .container
  .list-container
  .list-container-item1
  #red[data-v-77732afa] {
  color: red;
}
.container1
  .container
  .list-container
  .list-container-item1
  div[data-v-77732afa] {
  z-index: 100;
  position: relative;
}
.container1
  .container
  .list-container
  .list-container-item1
  div
  span[data-v-77732afa]:first-child {
  width: 80px;
  color: #898989;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
}
.container1
  .container
  .list-container
  .list-container-item1
  div
  span[data-v-77732afa]:last-child {
  color: #494949;
  font-size: 17px;
}
.container1 .container .list-container .more[data-v-77732afa] {
  font-size: 10px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.container1 .container .explain[data-v-77732afa] {
  padding: 10px 10px;
  font-size: 14px;
  color: #999;
  margin-bottom: 12px;
}
.container1 .container .footer[data-v-77732afa] {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 18px;
  padding: 8px 10px 8px;
  font-size: 14px;
  color: #999;
  background-color: #eee;
}
.container1 .van-empty[data-v-77732afa] {
  padding: 0;
}
.container1 .loading[data-v-77732afa] {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}
.container[data-v-da4923c4] {
  position: relative;
  min-height: 100vh;
  background-color: rgba(234, 233, 233, 0.52);
  font-family: PingFangSC-Regular;
}
.container #load[data-v-da4923c4] {
  position: absolute;
  top: 40%;
  left: 45%;
}
.container .header[data-v-da4923c4] {
  padding: 0 20px;
  display: flex;
  color: #fff;
  background-image: url(../../static/img/banner-bg.59ca6c28.png);
  background-size: 100% 100%;
  height: 107px;
  padding-top: 20px;
}
.container .header .thumb[data-v-da4923c4] {
  margin-top: 10px;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 15px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  position: relative;
}
.container .header .thumb img[data-v-da4923c4] {
  position: absolute;
  width: 50%;
  height: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.container .header .content .person-info[data-v-da4923c4] {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
}
.container .header .content .person-info span[data-v-da4923c4] {
  margin-right: 17px;
}
.container .header .content .list[data-v-da4923c4] {
  font-size: 14px;
}
.container .header .content .list span[data-v-da4923c4] {
  margin-right: 10px;
  margin-bottom: 3px;
}
.container .header .content #nomore[data-v-da4923c4] {
  height: 19px;
  display: inline-block;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
}
.container .list-container .list-container-item[data-v-da4923c4] {
  position: relative;
  padding: 10px 0 10px 20px;
  margin-top: 15px;
  background-color: #fff;
}
.container .list-container .list-container-item .bg[data-v-da4923c4] {
  z-index: 10;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: rotate(-345deg);
  font-family: SourceHanSansCN-Bold;
  font-size: 22px;
  color: #e6e9ec;
  letter-spacing: 0;
  text-align: center;
}
.container .list-container .list-container-item div[data-v-da4923c4] {
  z-index: 100;
  position: relative;
}
.container
  .list-container
  .list-container-item
  div
  span[data-v-da4923c4]:first-child {
  width: 80px;
  color: #898989;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 8px;
}
.container
  .list-container
  .list-container-item
  div
  span[data-v-da4923c4]:last-child {
  color: #494949;
  font-size: 15px;
}
.container .list-container .more[data-v-da4923c4] {
  font-size: 10px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.container .explain[data-v-da4923c4] {
  padding: 10px 10px;
  font-size: 14px;
  color: #999;
  margin-bottom: 25px;
}
.container .footer[data-v-da4923c4] {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 95%;
  height: 30px;
  padding: 10px 10px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  color: #999;
  justify-content: center;
  background-color: #eee;
}
.container[data-v-8689e718] {
  height: 100%;
}
.container .wrapper[data-v-8689e718] {
  background-color: #f9f9f9;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40%;
  align-items: center;
}
.container .wrapper .img-container[data-v-8689e718] {
  width: 219px;
  height: 219px;
  margin-bottom: 15px;
}
.container .wrapper .not-found-text[data-v-8689e718] {
  font-size: 14px;
  color: #999;
  margin-bottom: 15px;
}
.container .wrapper h2[data-v-8689e718] {
  font-size: 14px;
  color: #1f75ec;
}
.container[data-v-00971273] {
  height: 100%;
}
.container .wrapper[data-v-00971273] {
  background-color: #f9f9f9;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40%;
  align-items: center;
}
.container .wrapper .img-container[data-v-00971273] {
  width: 219px;
  height: 219px;
  margin-bottom: 15px;
}
.container .wrapper .not-found-text[data-v-00971273] {
  font-size: 14px;
  color: #999;
  margin-bottom: 15px;
}
.container .wrapper h2[data-v-00971273] {
  font-size: 14px;
  color: #1f75ec;
}
.container[data-v-793d5a66] {
  height: 100%;
}
.container .wrapper[data-v-793d5a66] {
  background-color: #f9f9f9;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40%;
  align-items: center;
}
.container .wrapper .img-container[data-v-793d5a66] {
  width: 219px;
  height: 219px;
  margin-bottom: 15px;
}
.container .wrapper .error-text[data-v-793d5a66] {
  font-size: 16px;
  color: #999;
  margin-bottom: 15px;
}
.container .wrapper h2[data-v-793d5a66] {
  font-size: 14px;
  color: #1f75ec;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
html {
  width: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, \\5FAE软雅黑, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
#tip-arrow-bottom,
#tip-arrow-top,
#trans-tooltip,
#trans-tooltip > div {
  display: none;
}
.icon-hairstylestyle:before {
  content: "\e636";
}
.icon-hairstylestyle1:before {
  content: "\e637";
}

#return-btn {
  position: absolute;
  right: 18px;
  top: 14px;
  padding: 0 14px;
  z-index: 20;
  border-radius: 13px;
  background-color: transparent;
  border: 1px solid white;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  color: white;
}

.name,
.time {
  user-select: none;
}
